$background-color: #000000;
$nav-color: #D1D1D1;
$nav-color-hover:#FFFFFF;
$btn-color: #FFFFFF;
$btn-color-hover: lightgray;
$btn-color-dark: #000000;
$btn-color-dark-hover: darkgray;
$text-dark: #000000;
$text-light: #FFFFFF;
$primary-color: #00FFA3;